:root {
    --agex-primary: #3f3a75;
    --agex-secondary: #2e9eee;
    --agex-gray: #f6f5f2;
    --agex-gray-text: #6c757d;
}

.agex-text-primary {
    color: var(--agex-primary);
}
.agex-text-secondary {
    color: var(--agex-secondary);
}
.agex-text-gray {
    color: var(--agex-gray-text);
}
.agex-bg-primary {
    background-color: var(--agex-primary);
}
.agex-bg-secondary {
    background-color: var(--agex-secondary);
}
.agex-bg-gray {
    background-color: var(--agex-gray);
}

.title-bloc {
    font-size: 13px;
    border-bottom: 0.5px solid gray;
    padding-bottom: 10px;
}

li {
    font-size: 13px;
}

.section-image {
    height: 500px;
}

.bloc-2 p {
    color: gray;
    font-size: 14px;
}

.bloc_question-image {
    background-image: url("./interogation.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.temoignage {
    height: 300px;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    font-size: 30px;
    color: var(--agex-secondary);  
    font-weight: bold;
    position: relative;
    top: 5px;
}

.temoignage {
    background-image: url(guillements.png);
    background-repeat: no-repeat;
    background-position: center 20%;
}

.accordion-item, .accordion-button {
    background-color: var(--agex-gray) !important;
    border: none !important;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    box-shadow: none !important;
}

/* .accordion-button::after {
    content: "<i class="fas fa-arrow-down"></i>"
} */

